/* nav bar */

.container {
  width: 100%;
  margin: 0 auto;
}

/*parent*/
.flex-container {
  display: flex;
/*  flex-direction: row;*/
  flex-wrap: wrap;
  height: 10rem;
/*  justify-content: space-around;*/
}

ul {
  height: 100%;
}

li {
  color: #F6ECF5;
/*  flex-grow: 1;*/
  text-align: center;
/*  min-width: 15rem;*/
/*  width: 10rem;*/
}

.line1, .line2, .line3 {
  background-color: #F6ECF5;
  flex-grow: 4;
  height: 1px;
  margin: 6px 0;
  width: 33px;
}

.menu {
  flex-grow: 1;
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-top: 1rem;
}

.logo {
  width: 90px;
}
/* laptop design */
.contact, .bio, .work {
  flex-grow: 4;
}

.linkedin, .github, .facebook, .twitter {
  flex-grow: 1;
  padding-top: 1rem;
  margin-bottom: 1rem;
}

@@media (max-width: 50rem) {
  .flex-container {
    flex-direction: column;
    height: 10rem;
  }
}
