/* nav bar */

.container {
  width: 100%;
  margin: 0 auto;
}

/*parent*/
.flex-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}

ul {
  height: 100%;
}

li {
  color: #F6ECF5;
/*  flex-grow: 1;*/
  text-align: center;
/*  min-width: 15rem;*/
/*  width: 10rem;*/
}
/* hamburger menu */
.line1, .line2, .line3 {
  background-color: #F6ECF5;
  flex-grow: 4;
  height: 1px;
  margin: 6px 0;
  width: 33px;
}
.menu {
  /* flex-grow: 1; */
  padding-bottom: 2rem;
  padding-left: 2rem;
  /* padding-top: 1rem; */
}
/* mobile */
.logo {
  margin: 0 auto;
  /* margin-left: 3rem;*/
  /* margin-right: 13rem; */
  padding-top: .5rem;
  padding-bottom: 1rem;
  width: 90px;
}
/* laptop design */
.logo-laptop {
  float: left;
  flex-grow: 0;
  margin-left: 10rem;
  margin-top: 1rem;
  width: 228px;
}
.navbar {
  flex-direction: row-reverse;
}
.contact, .bio, .work {
  float: right;
  font-weight: 400;
  width: 20%;
}

/* Beyond Design copy */
.about-copy {
  justify-content: flex-end;
}

/* Case study mobile Nav Bar */
.back-arrow {
  align-items: center;
  display: flex;
  flex-grow: 0;
  margin-left: 1rem;
  margin-top: 0;
}
 .case-study {
  align-items: center;
  flex-grow: 1;
  justify-content: center;
  position: absolute;
  width: 100%;
}


/* Survey Findings section*/
.percent, .text {
  align-items: baseline;
  /* flex-grow: 1; */
}
.icon {
  flex-grow: 1;
  padding-top: 1rem;
  /* margin-bottom: 6rem; */
}
.women, .interest {
  flex-wrap: wrap;
}

/*footer*/
.icons {
  flex-direction: row;
}



@@media (max-width: 50rem) {
  .flex-container {
    flex-direction: column;
    height: 10rem;
  }
}
