/* nav bar */

.container {
  width: 100%;
  margin: 0 auto;
}
/*nav bar*/
/*parent*/
.flex-container {
  align-items: center;
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: auto auto auto;
  grid-gap: 10rem;
}
.flex-container3 {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


li {
  color: #333333;
  text-align: left;
}

/* laptop design */
.logo-laptop {
  /* float: left; */
  flex-grow: 0;
  /* margin-left: 10rem; */
  margin-top: 1rem;
  margin-bottom: 0;
  max-width: 228px;
}
.navbar {
  flex-direction: row-reverse;
}
.contact, .bio, .work {
  color: #F6ECF5;
  /* float: right; */
  font-weight: 400;
  margin-top: 0;
  /* width: 20%; */
}

/* Beyond Design copy */
.about-copy {
  justify-content: flex-end;
}

/* Survey Findings section*/
.percent, .text {
  align-items: baseline;
  /* flex-grow: 1; */
}
.icon {
  flex-grow: 1;
  padding-top: 1rem;
  /* margin-bottom: 6rem; */
}
.women, .interest {
  flex-wrap: wrap;
}

/*footer*/
.icons {
  flex-direction: row;
}



@@media (max-width: 50rem) {
  .flex-container {
    flex-direction: column;
    height: 10rem;
  }
}
