* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: #F6ECF5;
  padding-bottom: 5rem;
}

p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  line-height: 2.5rem;
  font-size: 1.8rem;
  margin-top: .5rem;
  color: #333333;
}

h1 {
  font-size: 6rem;
   color: #303F55;
   font-family: American Typewriter;
   font-weight: lighter;
 }

 h2 {
   font-family: Montserrat;
   font-style: normal;
   font-weight: 300;
   font-size: 3rem;
   color: #333333;
 }

.container {
  background-color: white;
/*  height: 100vh; */
  margin: 0 auto;
  width: 90%;
}

section {
  background-color: #DFD0E3;
  color: #303F55;
  margin-top: 2rem;
  padding: 10rem 0;
}

section.about {
  padding: 20rem 1rem;
  position: absolute;
  width: 502px;
  height: 139px;
  left: 824px;
  top: 1336px;
}

/* header {
   background: url(../images/Hero_Image_MG_9360.jpg) center / cover;
   height: 60vh;
   justify-content: center;
   text-align: center;
 } */

img {
  float: right;
  margin-right: 0px;
  width: 500px;
  height: 60vh;
}

main {
  max-width: 900px;
}

/* .project-description {
  padding-left: 0;
} */

/* .project img {
  width: 100%;
} */

footer.mdl-mini-footer {
  bottom: 0;
  padding: 0.5rem;
  position: fixed;
  width: 100%;
  z-index: 1;
}

footer.mdl-mini-footer > ul {
  margin: auto;
  font-size: 2rem;
}

@media screen and (max-width: 1024px) {
  .container {
    background-color: white;
  /*  height: 100vh; */
    margin: 0 auto;
    width: 144rem;
  }
/*  header.mdl-layout__header {
    display: flex;
  } */
}
