/* Mobile design*/

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: #F6ECF5;
  padding-bottom: 5rem;
}

.grid-contain {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

/* .chart {
  width: 100%;
} */
/*** typography ***/
p {
  color: #333333;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2.5rem;
  margin-top: .5rem;
  margin-bottom: 2rem;
}

h1 {
  color: #303F55;
  font-size: 3.6rem;
  font-family: American Typewriter;
  font-weight: lighter;
  margin-bottom: 5rem;
  text-align: center;
 }

 h2 {
   color: #303F55;
   font-family: Montserrat;
   font-style: normal;
   font-weight: 500;
   font-size: 2.2rem;
   text-align: center;
   margin-bottom: 3rem;
 }
.hero h2 {
  color: #B976A4;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 1.8rem;
  margin-left: 45rem;
  margin-right: 45rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

span {
  color: #303F55;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 3rem;
}
.bold-pink {
  color: #B976A4;
  font-family: Montserrat;
  font-style: normal;
  font-size: 1.6rem;
  font-weight: 400;
}
 h3 {
   color: #303F55;
   font-family: Montserrat;
   font-style: normal;
   font-weight: 500;
   font-size: 2.4rem;
   margin-bottom: 3rem;
   text-align: center;
 }

 h4 {
   color: #4F4F4F;
   font-family: Montserrat;
   font-style: normal;
   font-weight: 500;
   font-size: 1.8rem;
   margin-bottom: 1rem;
   padding-top: 2rem;
   padding-bottom: 1rem;
   padding-left: 1.5rem;
 }

 h5 {
   color: #303F55;
   font-family: Montserrat;
   font-style: normal;
   font-weight: 500;
   font-size: 1.4rem;
   padding-bottom: 2rem;
   padding-top: 3rem;
   text-align: center;
 }

 h6 {
   color: #6C6C6C;
   font-family: Montserrat;
   font-style: normal;
   font-weight: 500;
   font-size: 1.4rem;
   padding-bottom: 2rem;
   padding-left: 1.5rem;
   padding-top: 3rem;
   text-align: left;
 }

 li {
   color: #333333;
   font-family: Montserrat;
   font-style: normal;
   font-weight: 300;
   font-size: 1.8rem;
   line-height: 2.5rem;
   margin-top: .5rem;
 }

 button {
   border-radius: 5px;
   font-family: Montserrat;
   font-style: normal;
   font-weight: 400;
   font-size: 1.4rem;
   height: 25px;
   margin: 20px;
   width: 177px;
 }

/* Case study button */
 .casestudy {
   background-color: #B976A4;
   color: #F6ECF5;
   margin: 2rem;
 }

/* Prototype button */
.prototype-btn {
  border-color: #B976A4;
  color: #B976A4;
  margin: 2rem;
 }

/* About me button */
 .aboutme {
   background-color: #B976A4;
   color: #F6ECF5;
   margin-left: 12rem;
 }

/*** structure ***/
.container {
  background-color: white;
  display: grid;
  grid-auto-rows: minmax(100px, auto);
  grid-template-columns: 1fr;
  grid-template-areas:
    "mobile"
    "hero"
    "port"
    "about";
  margin: 0 auto;
  overflow: hidden;
  width: 100%;
}

section {
  /* background-color: #DFD0E3; */
  color: #303F55;
  float: left;
  margin-bottom: 1.5rem;
  /* margin: 1%; */
  padding: 5rem 0;
  width: 100%;
}

.hero {
  background-color: #E7E5E1;
  background-image: url(../images/Hero_homepage-botanical-cactus-close-up-305821.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  grid-area: hero;
  height: 340px;
  text-align: center;
  opacity: 0.7;
  object-fit: cover;
}

/*portfolio section*/
.port {
  background-color: #DFD0E3;
  grid-area: port;
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
}

.roles {
  font-weight: 400;
}
/* Mobile Project image */
.desktop-mobile {
  object-fit: cover;
}
.desktop-trap {
  display: none;
}

/* About me section */
 .about-section {
  background-color: #DFD0E3;
  grid-area: about;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.about p {
  padding: 2rem;
}

.about-image {
  display: none;
}

/*Homepage nav bar */
 #mobile {
  background-color: #9D7892;
  display: block;
  grid-area: mobile;
  height: 62px;
  width: 100%;
}
#laptop {
 display: none;
}

/* Case Study page */
/*mobile nav bar */
#mobile2 {
  background-color: #9D7892;
  display: block;
  grid-area: mobile;
  height: 28px;
  width: 100%;
}
.back-arrow {
  color: #F6ECF5;
  float: left;
  font-size: 3rem;
  height: 100%;
  padding-left: 1rem;
}
.case-study p {
  color: #F6ECF5;
  font-size: 1.4rem;
  font-weight: 300;
  padding-top: .5rem;
}

#laptop {
  display: none;
}

.hero-project {
  background-color: #F6ECF5;
  padding-top: 2rem;
  padding-bottom: 0;
}
/* Hero image */
.screenshots {
/* margin-left: 1.3rem; */
object-fit: cover;
padding: .5rem;
/* padding-right: 4rem; */
}

.refresh-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  width: 13.9rem;
}

.hero-project h2 {
  font-weight: 420;
  line-height: 150%;
}

img {
  float: center;
  height: auto;
  margin-right: 0px;
  margin-bottom: 2rem;
  width: 100%;
}
/*Solution section*/
.solution, .final-thoughts {
  background-color: #D1D4DE;
  margin: 0 auto;
  padding-bottom: 4rem;
  padding-top: 4rem;
  padding-right: 1rem;
  width: 100%;
}
/*Summary section*/
.summary, .research-discovery, .strategy, .user-stories, .user-flows, .information-architecture, .visual-design, .branding, .logo-design, .mockups, .prototype, .improvements {
  background-color: #F6ECF5;
  margin: 0 auto;
  padding-bottom: 1rem;
  padding-top: 4rem;
  width: 100%;
}
.summary h2 {
  margin: 0 auto;
  margin-bottom: 1rem;
  padding-right: 2rem;
}
.summary h3 {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  margin-top: 1.5rem;
}
.summary p, .final-thoughts p {
  margin: 0 auto;
  margin-bottom: 3rem;
  padding-left: 1.5rem;
}
.summary ul {
padding-bottom: 1rem;
}

.prototype-button {
  background-color: #B976A4;
  color: #F6ECF5;
  display: flex;
  font-size: 1.8rem;
  height: 6rem;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 3rem;
  width: 29.5rem;
}

.roles, .deliver, .tools {
    color: #333333;
    font-weight: 300;
    font-size: 1.6rem;
}

.sidenav {
  display: none;
}
/* The Problem section */
.problem {
  background-color: #B976A4;
  margin: 0 auto;
  margin-right: 1rem;
  padding-bottom: 1rem;
  padding-top: 4rem;
  padding-right: 1rem;
  width: 100%;
}
.problem h2 {
  color: #F6ECF5;
}
.problem p {
  color: #F6ECF5;
  font-weight: 300;
  margin: 0 auto;
  margin-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 3rem;
}
/* The Solution section */
.solution, .process, .survey {
  margin: 0 auto;
  margin-right: 1rem;
  padding-bottom: 1rem;
  padding-top: 4rem;
  padding-right: 1rem;
  width: 100%;
}
.solution p {
  margin: 0 auto;
  margin-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 3rem;
}

/* The Process section */
.process p {
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 3rem;
}
/* ul */
 .features, .userstories, .issues {
  list-style-image: url(../images/pink_bullet.svg);
  margin-left: 1.5rem;
  padding: 1rem;
}
/* li*/
.feat {
  color: #333333;
  font-size: 1.6rem;
  margin-bottom: 1rem;
  text-align: left;
}
/* Research & Discovery section */
.research-discovery h2, .strategy h2, .information-architecture h2, .visual-design h2, .reevaluating h2 {
  background-color: #D1D4DE; /*light grey*/
  padding: .7rem;
}
.research-discovery p, .strategy p, .information-architecture p, .visual-design p, .reevaluating p, .branding p, .prototype p, .improvements p  {
  /* margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 2rem; */
  padding-left: 1.5rem;
}
/*Table*/
#page-wrap {
  margin: 2.5rem auto;
  width: 100%;
}

table {
  border-collapse: collapse;
  margin: 0 auto;

  table-layout: fixed;
  width: 100%;
}
table, th, td {
  border: 1px solid #BDBDBD;
}

thead th:nth-child(1){
  /* width: 25%; */
}
thead th:nth-child(2){
  /* width: 25%; */
}
thead th:nth-child(3){
  /* width: 15%; */
}
thead th:nth-child(4){
  /* width: 25%; */
}
th {
  color: #333333;
  font-family: Montserrat;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 120%;
  padding: .5rem;
  text-align: left;
}
thead th {
  color: #6C78A1; /*blue*/
  font-family: Montserrat;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
}
.dot {
  background-image: url(../images/Ellipse.svg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
}

/*Survey section*/
.survey p {
  margin: 0 auto;
  margin-bottom: 2rem;
  padding-left: 1.5rem;
}
.icon {
  display: none;
}
.percent {
  color: #B976A4;
  float: left;
  margin-top: 1rem;
  padding-left: 1.5rem;
}
.text {
  margin-top: 0px;
  padding: 0px;
}
.women, .interest {
  margin: 0;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0.5rem;
}
.footstep, .fire, .dish {
  margin-left: 2rem;
  width: 6.5rem;
}

/*Strategy section*/
/*Personas*/
.michelle, .sheila {
  border: 1px solid #BDBDBD;
  padding-bottom: 2rem;
  width: 100%;
}
.persona {
  height: 88.33px;
  margin-bottom: 0;
  width: 30%;
}
.name {
  background-color:#D1D4DE; /*light grey*/
  color: #6C78A1; /*blue*/
  float: left;
  font-family: Montserrat;
  font-size: 1.2rem;
  font-weight: 400;
  height: 88.33px;
  margin: 0px;
  padding: .5rem;
  text-align: center;
  width: 70%;
}
.bold-blue {
  color: #6C78A1;
  font-weight: 400;
}
.quote {
  font-size: 1.2rem;
  line-height: 130%;
  margin-bottom: 1rem;
}
.subtitle {
  padding: 0px;
  padding-left: 1.5rem;
  text-align: left;
}
/*ul*/
.goals, .frustrations {
  list-style: disc;
  margin-left: 1.5rem;
  padding-bottom: 1rem;
  padding-left: 1.5rem;
}
/*li*/
.goal, .frust {
  color: #333333;
  font-size: 1.4rem;
  text-align: left;
}

/*User-Stories section*/
.bold {
  color: #333333;
  font-weight: 350;
  margin-bottom: 0px;
}

/*li*/
.user-story {
  color: #333333;
  font-size: 1.6rem;
  padding-left: 1rem;
  text-align: left;
}
/*Visual Design section*/
.sketch, .wireframe, .mindmap, .logo-sketch, .color {
  border: 1px solid #D1D4DE;
  margin-left: 1rem;
  width: 95%;
}

.issue {
  color: #333333;
  font-size: 1.6rem;
  font-weight: 350;
  padding-left: 1rem;
  text-align: left;
}
/*Re-evaluating section*/
.reevaluating {
  background-color: #B976A4;
  margin: 0 auto;
  padding-bottom: 1rem;
  padding-top: 4rem;
  width: 100%;
}

.reevaluating p {
  color: #F6ECF5;
}
.tasks {
  list-style-image: url(../images/grey_bullet.svg);
  margin-left: 1.5rem;
  padding: 1rem;
}
.task {
  font-size: 1.6rem;
  text-align: left;
}
.br-names {
  padding-bottom: 2rem;
}
.br-name {
  color: #333333;
  font-size: 1.6rem;
  font-weight: 350;
  padding-left: 1.5rem;
  text-align: left;
}
/* logo iteration 1*/
.iteration1 {
  margin: 0 auto;
  margin-bottom: 1.5rem;
  width: 48%;
}
/* images */
.color-palette, .mockup {
  margin-left: 1rem;
  width: 95%;
}
/*bottom nav*/
.bottom-nav {
  height: 20rem;
  padding-bottom: 2rem;
}
.blue-line {
  background-color: #6C78A1;
  height: 1px;
  margin-top: 6rem;
  width: 100%;
}

.item {
  color: #953A79;
  float: left;
  margin-left: 2rem;
  margin-right: 5rem;
  padding: 1.5rem;
}

footer {
  background-color: #9D7892;
  bottom: 0;
  width: 100%;
}

.connect {
  width: 100%
}

.strip1 {
  background-color: #9D7892;
  height: 2.6rem;
}

.strip2 {
  background-color: #F6ECF5;
  height: 0.5rem;
  width: 100%;
}

.connect h1 {
  color: #F6ECF5;
  font-weight: lighter;
  margin-bottom: 2rem;
  padding-top: 3rem;
}

.email {
  text-align: center;
  color: #F6ECF5;
}

.fa {
  color: #F6ECF5;
  font-size: 3rem;
  margin: auto;
}

/*laptop*/
@media screen and (min-width: 1000px) {
  .container {
    background-color: #F6ECF5;
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: 1fr;
    /* grid-template-rows: auto; */
    grid-template-areas:
      "laptop"
      "hero"
      "port"
      "about";
    margin: 0 auto;
    overflow: hidden;
    width: 100%;
  }
  section {
    /* background-color: #DFD0E3; */
    color: #303F55;
    float: left;
  /***  margin-top: 2rem; ***/
  /*  margin: 1%;*/
    /* padding: 10rem 0; */
    width: 100%;
  }

  .grid-contain {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
  }

  /* .chart {
    grid-area: 1/2/1/6;
    width: 75%;
  } */

  p {
    color: #333333;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 150%;
    margin-top: .5rem;
    margin-bottom: 2rem;
  }

  h2 {
    color: #303F55;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 3rem;
  }
  .hero-subtitle {
    border: 1px solid #B976A4;
  }

  h4 {
    font-size: 2.4rem;
    padding-left: 25rem;
  }

  span {
    color: #303F55;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 3rem;
  }
/* nav bar */
 #laptop {
    background-color: #9D7892;
    display: block;
    grid-area: laptop;
    height: 62px;
    width: 100%;
  }
#mobile, #mobile2 {
    display: none;
    grid-area: mobile;
  }
/* Homepage */
  .hero {
    background-color: #E7E5E1;
    background-image: url(../images/Hero_homepage-botanical-cactus-close-up-305821.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    grid-area: hero;
    height: 340px;
    text-align: center;
    opacity: 0.7;
    object-fit: cover;
  }

/* Portfolio section */
.port {
  background-color: #DFD0E3;
  grid-area: port;
  /* margin: 0 auto; */
  padding-top: 3rem;
  padding-bottom: 3rem;
  position: relative;
  text-align: center;
}
/* project copy */
.project {
  display: block;
  float: left;
  padding: 3rem;
  margin-left: 3rem;
  margin-right: 3rem;
}
/* Project image */
.project-image1 {
  float: right;
  position: relative;
  padding: 0;
  width: 100%;
}
.desktop-trap {
    /* background-image: url(../images/Desktop trapezoid image.png); */
    display: block;
    float: right;
    height: /*404px*/ auto;
    object-fit: cover;
    position: absolute;
    right: -5rem;
    top: -3rem;
    width: 55%;
  }
  .project-image {
    display: none;
  }

  button {
    border-radius: 0.5rem;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    height: 4rem;
    margin: 2rem;
    width: 19rem;
  }
  /* Beyond Design section */
  .about-section {
    background-color: #DFD0E3;
    grid-area: about;
    padding-top: 3rem;
    padding-bottom: 3rem;
    position: relative;
    text-align: center;
  }
/* About image */
  .trap-image2 {
    float: left;
    position: relative;
    padding: 0;
    width: 100%;
  }
  /* code adapted from http://devoogd.com/ */
    .about-image {
      bottom: -0px;
      top: -3rem;
      display: block;
      float: left;
      height: /*404px*/ auto;
      left: -4rem;
      object-fit: cover;
      position: absolute;
      right: -10rem;
      /* transform: skew(15deg); */
      width: 55%;
    }
  .trap-lake {
    display: none;
  }
  /* About copy */
  .about-copy {
    display: block;
    float: right;
    padding: 3rem;
    margin-left: 4rem;
    margin-right: 3rem;
    text-align: left;
    width: 50%;
  }
  /*button*/
  .aboutme {

  }

/* Case Study page */
/* Project Hero section */
  .hero-project {
    padding-bottom: 5rem;
  }
  .screenshots {
    margin: 0 auto;
    object-fit: cover;
    padding: .5rem;
    padding-right: 3rem;
  }
  .refresh-logo {
    width: 24rem;
  }
  .hero-project h2 {
    font-weight: 500;
    font-size: 2.6rem;
    margin: 0 auto;
    padding-left: 30rem;
    padding-right: 30rem;
  }
  /* Summary section */
  .summary {
    padding: 5rem;
  }
  .summary p, .process p, .research-discovery p, .strategy p {
    line-height: 2.5rem;
    padding-left: 25rem;
    padding-right: 25rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
  }
/* parent div */
.roles-deliver-tools {
  display: flex;
  margin: 0 auto;
  margin-top: 3rem;
  margin-left: 10rem;
  vertical-align: top;
}
.rolesdiv, .deliverdiv, .toolsdiv {
  display: inline-block;
}
.rolesdiv {
  padding-left: 20rem;
  padding-right: 7rem;
  padding-bottom: 5rem;
}
.deliverdiv {
  padding-right: 7rem;
  padding-left: 7rem;
}
.toolsdiv {
  padding-right: 20rem;
  padding-left: 7rem;
}

.sidenav {
  background-color: #F6ECF5;
  border: 1px solid #767B8D;
  /* color: #333333; */
  display: block;
  height: 100%;
  left: 0;
  overflow-x: hidden;
  padding-top: 2rem;
  padding-left: 1.5rem;
  position: auto;
  top: 0;
  width: 22rem;
  z-index: 1;
}
.sidenav a {
  color: #303F55;
  display: block;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 1.6rem;
  padding: .6rem .8rem 1.5rem 1.6rem;
  text-decoration: none;
}

/* The Problem-Solution section */
.problem-solution {
  width: 100%;
}
.problem, .survey-goals {
  float: left;
  width: 50%;
}
/* triangle */
  /* .arrow-right {
    border-top: 406px solid transparent;
    border-bottom: 6rem solid transparent;
    border-left: 84px solid pink;
    float: right;
    height: 0;
    width: 0;
  } */
.problem p, .solution p, .survey p {
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 5rem;
    /* line-height: 130%; */
  }
  .solution {
    width: 49%;
  }

  .process, .survey {
    background-color: #DFD0E3; /*pink */
  }
  .features {
    padding-left: 20rem;
  }
  .feat {
    padding: .5rem;
  }

  table {
    height: 36rem;
    width: 50%;
  }
  thead th {
    font-size: 1.6rem;
  }
  th {
    font-size: 1.6rem;
  }
.survey-g {
  text-align: left;
}
/* .grey-divider {
  border-left: 1px solid #767B8D;
  height: 536px;
  margin: 0 auto;
} */
/* div */
  .survey-findings {
    float: right;
    vertical-align: top;
    width: 48%;
  }
/* parent div flex-grid */
  .findings, .survey-feat {
    display: flex;
    margin: 0 auto;
    margin-top: 3rem;
    margin-left: 3rem;
    vertical-align: top;
  }
  /* children */
  .flex-container1 {
    align-items: center;
    display: inline-block;
    flex-direction: row;
    flex: 1;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 3rem;
  }
  .icon {
    display: inline-block;
    margin: 0 auto;
    width: 100%;
  }
  .tracker, .woman, .runner, .footstep, .fire, .dish {
    margin-left: 0px;
    width: 7rem;
  }
  .percent {
    display: inline-block;
    float: none;
    margin: 0px;
    padding-left: 0px;
    width: 100%;
  }
  .percent h3 {
    color: #B976A4;
    margin-bottom: 1rem;
  }
  .text {
    color: #333333;
    padding: 0px;
    text-align: center;
  }
  .survey-findings p {
    margin-bottom: 1rem;
    padding-bottom: 0px;
  }

  /* personas */
  .michelle {
    margin-left: 10rem;
    width: 40%;
  }
  /* image */
  .persona {
    float: left;
    height: 16rem;
    object-fit: cover;
    margin-bottom: 2rem;
  }
  .name {
    padding-bottom: 5rem;
  }
  .michelle p, .sheila p {
    font-size: 1.4rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .quote {
    float: right;
    padding-top: 1rem;
    width: 70%;
  }
  /* parent */
  .goals-frust {
    display: flex;
    margin: 0 auto;
    /* margin-top: 3rem;
    margin-left: 3rem; */
    vertical-align: top;
  }
  /* children */
  .goals-div {
    align-items: center;
    display: inline-block;
    flex-direction: row;
    flex: 1;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 3rem;
  }
  .frust-div {

  }
  .goals {
    float: left;
    vertical-align: top;
    width: 48%;
  }
  .frustrations {
    margin-right: 1rem;

  }
  .sheila {
    float: right;
    margin-right: 10rem;
    width: 40%;
  }
}


@media screen and (min-width: 1144px) {
  .desktop-trap {
      width: 60%;
    }
    .project-image {
      display: none;
    }
}

@media screen and (min-width: 1330px) {
  .desktop-trap {
      width: 55%;
    }
    .project-image {
      display: none;
    }

    .about-image {
      bottom: -0px;
      top: -30px;
      display: block;
      float: left;
      height: 404px;
      left: -40px;
      object-fit: cover;
      position: absolute;
      right: -100px;
      width: 55%;
    }
  .trap-lake {
    display: none;
  }
}
/*tablet*/
@media screen and (min-width: 768px) {
  .container {
    background-color: #F6ECF5;
    grid-template-columns: 1fr;
    grid-template-areas:
    "mobile"
    "hero"
    "port"
    "about";
    width: 100%;
  }


  .chart {
    width: 50%;
  }
}
