/* Mobile design*/

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: #F6ECF5;
  padding-bottom: 5rem;
}

.grid-contain {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}
/* mobile nav bar */
/* hamburger menu */
.line1, .line2, .line3 {
  background-color: #F6ECF5;
  flex-grow: 4;
  height: 1px;
  margin: 6px 0;
  width: 33px;
}
.menu {
  /* flex-grow: 1; */
  padding-bottom: 2rem;
  padding-right: 2rem;
  /* padding-top: 1rem; */
}
/* mobile logo */
.logo {
  margin: 0 auto;
  padding-top: .5rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  /* width: 90px; */
}
/* .chart {
  width: 100%;
} */
/*** typography ***/
p {
  color: #333333;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2.5rem;
  margin-top: .5rem;
  margin-bottom: 2rem;
}

h1 {
  color: #303F55;
  font-size: 3.6rem;
  font-family: American Typewriter;
  font-weight: lighter;
  margin-bottom: 5rem;
  text-align: center;
 }
 .hero h1 {
   padding-top: 5rem;
 }

 h2 {
   color: #303F55;
   font-family: Montserrat;
   font-style: normal;
   font-weight: 500;
   font-size: 2.2rem;
   text-align: center;
   margin-bottom: 3rem;
 }
.hero h2 {
  color: #B976A4; /* dark pink */
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 1.8rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.hero-subtitle {
  border: 1px solid #B976A4;
  border-radius: .5rem;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 1rem;
}

span {
  color: #303F55;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 3rem;
}
.bold-pink {
  color: #B976A4;
  font-family: Montserrat;
  font-style: normal;
  font-size: 1.6rem;
  font-weight: 400;
}
 h3 {
   color: #303F55;
   font-family: Montserrat;
   font-style: normal;
   font-weight: 500;
   font-size: 2.4rem;
   margin-bottom: 3rem;
   text-align: center;
 }

 h4 {
   color: #4F4F4F;
   font-family: Montserrat;
   font-style: normal;
   font-weight: 500;
   font-size: 1.8rem;
   margin-bottom: 1rem;
   padding-top: 2rem;
   padding-bottom: 1rem;
   padding-left: 1.5rem;
 }

 h5 {
   color: #303F55;
   font-family: Montserrat;
   font-style: normal;
   font-weight: 500;
   font-size: 1.4rem;
   padding-bottom: 2rem;
   padding-top: 3rem;
   text-align: center;
 }

 h6 {
   color: #6C6C6C;
   font-family: Montserrat;
   font-style: normal;
   font-weight: 500;
   font-size: 1.4rem;
   padding-bottom: 2rem;
   padding-left: 1.5rem;
   padding-top: 3rem;
   text-align: left;
 }

 li {
   color: #333333;
   font-family: Montserrat;
   font-style: normal;
   font-weight: 300;
   font-size: 1.8rem;
   line-height: 2.5rem;
   margin-top: .5rem;
 }

 button {
   border-radius: 5px;
   font-family: Montserrat;
   font-style: normal;
   font-weight: 400;
   font-size: 1.4rem;
   height: 25px;
   margin: 20px;
   width: 177px;
 }

.med-bold {
  font-weight: 400;
}
/* Case study button */
 .casestudy {
   background-color: #B976A4;
   color: #F6ECF5;
   margin: 2rem;
 }

/* Prototype button */
.prototype-btn {
  border-color: #B976A4;
  color: #B976A4;
  margin: 2rem;
 }

 .about-copy p {
   margin-left: 1.5rem;
   margin-right: 1rem;
 }

/* About me button */
 .aboutme {
   background-color: #B976A4;
   color: #F6ECF5;
   display: block;
   margin: 0 auto;
 }

/*** structure ***/
.container {
  background-color: white;
  display: grid;
  grid-auto-rows: minmax(100px, auto);
  grid-template-columns: 1fr;
  grid-template-areas:
    "mobile"
    "hero"
    "port"
    "about";
  margin: 0 auto;
  overflow: hidden;
  width: 100%;
}

section {
  color: #303F55;
  float: left;
  margin-bottom: 1.5rem;
  /* padding: 5rem 0; */
  width: 100%;
}

.hero {
  background-color: ##efeeea;
  background-image: url(../images/succulent-homepage.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right bottom;
  grid-area: hero;
  height: 340px;
  text-align: center;
  object-fit: cover;
  padding-bottom: 0;
}

/*portfolio section*/
.port {
  background-color: #DFD0E3;
  grid-area: port;
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
}

.roles {
  font-weight: 400;
}
/* Mobile Project image */
.desktop-mobile {
  object-fit: cover;
}
.desktop-trap {
  display: none;
}

/* About me section */
 .about-section {
  background-color: #DFD0E3;
  grid-area: about;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.about p {
  padding: 2rem;
}

.about-image {
  display: none;
}

/*Homepage nav bar */
 #mobile {
  background-color: #9D7892;
  display: block;
  grid-area: mobile;
  height: 62px;
  width: 100%;
}
#laptop {
 display: none;
}

/* Case Study page */
/*mobile nav bar */
#mobile2 {
  background-color: #9D7892;
  display: block;
  grid-area: mobile;
  height: 28px;
  width: 100%;
}

/* Case study mobile Nav Bar */
.back-arrow {
  align-items: center;
  color: #F6ECF5;
  display: flex;
  flex-grow: 0;
  float: left;
  font-size: 3rem;
  height: 100%;
  margin-left: 1rem;
  margin-top: 0;
  padding-left: 1rem;
}
.case-study {
 align-items: center;
 flex-grow: 1;
 justify-content: center;
 padding-left: 15rem;
 position: absolute;
 width: 100%;
}
.case-study p {
  color: #F6ECF5;
  font-size: 1.4rem;
  font-weight: 300;
  padding-top: .5rem;
}

#laptop {
  display: none;
}

.hero-project {
  background-color: #F6ECF5;
  padding-top: 2rem;
  padding-bottom: 0;
}
/* Hero image */
.screenshots {
object-fit: cover;
padding: .5rem;
padding-right: 1.5rem;
padding-left: 1.5rem;
}

.refresh-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  width: 13.9rem;
}

.hero-project h2 {
  font-weight: 420;
  line-height: 150%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

img {
  height: auto;
  margin-right: 0px;
  margin-bottom: 2rem;
  width: 100%;
}
/*Problem-Solution section*/
.problem-solution {
  margin-bottom: 0;
  padding-bottom: 0;
}

.solution, .final-thoughts {
  background-color: #D1D4DE;
  margin: 0 auto;
  padding-bottom: 4rem;
  padding-top: 4rem;
  padding-right: 1rem;
  width: 100%;
}
/*Summary section*/
.summary, .research-discovery, .strategy, .user-stories, .user-flows, .information-architecture, .visual-design, .branding, .logo-design, .mockups, .prototype, .improvements {
  background-color: #F6ECF5;
  margin: 0 auto;
  padding-bottom: 1rem;
  padding-top: 4rem;
  width: 100%;
}
.summary h2 {
  margin: 0 auto;
  margin-bottom: 1rem;
  padding-right: 2rem;
}
.summary h3 {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  margin-top: 1.5rem;
}
.summary p, .final-thoughts p {
  margin: 0 auto;
  margin-bottom: 3rem;
  padding-left: 1.5rem;
}
.summary ul {
padding-bottom: 1rem;
}

.prototype-button {
  background-color: #B976A4;
  color: #F6ECF5;
  display: flex;
  font-size: 1.8rem;
  height: 6rem;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 3rem;
  width: 29.5rem;
}

.roles, .deliver, .tools {
    color: #333333;
    font-weight: 300;
    font-size: 1.6rem;
    text-align: center;
}

.sidenav {
  display: none;
}
/* The Problem section */
.problem {
  background-color: #B976A4;
  margin: 0 auto;
  margin-right: 1rem;
  padding-bottom: 1rem;
  padding-top: 4rem;
  padding-right: 1rem;
  width: 100%;
}
.problem h2 {
  color: #F6ECF5;
}
.problem p {
  color: #F6ECF5;
  font-weight: 300;
  margin: 0 auto;
  margin-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 3rem;
}
/* The Solution section */
.solution, .process, .survey {
  margin: 0 auto;
  margin-right: 1rem;
  padding-bottom: 1rem;
  padding-top: 4rem;
  padding-right: 1rem;
  width: 100%;
}
.solution p {
  margin: 0 auto;
  margin-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 3rem;
}

/* The Process section */
.process, .survey {
  background-color: #DFD0E3;
}
.process p {
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding-left: 2rem;
  /* padding-right: 3rem; */
}
/* ul */
 .features, .userstories, .issues {
  list-style-image: url(../images/pink_bullet.svg);
  margin-left: 1.5rem;
  padding: 1rem;
}

.feat {
  font-size: 1.6rem;
  padding: 1rem;
}

/* Research & Discovery section */
.research-discovery h2, .strategy h2, .information-architecture h2, .visual-design h2, .reevaluating h2 {
  background-color: #D1D4DE; /*light grey*/
  padding: 1.2rem;
  padding-top: 1.3rem;
}
.research-discovery p, .strategy p, .user-flows p, .user-stories p, .information-architecture p, .visual-design p, .reevaluating p, .branding p, .prototype p, .improvements p  {
  margin-right: 1.5rem;
  padding-left: 1.5rem;
}

.michelle p, .sheila p {
  margin-right: 0;
}
/*Table*/
#page-wrap {
  margin: 2.5rem auto;
  width: 100%;
}

table {
  border-collapse: collapse;
  margin: 0 auto;

  table-layout: fixed;
  width: 100%;
}
table, th, td {
  border: 1px solid #BDBDBD;
}

thead th:nth-child(1){
  /* width: 25%; */
}
thead th:nth-child(2){
  /* width: 25%; */
}
thead th:nth-child(3){
  /* width: 15%; */
}
thead th:nth-child(4){
  /* width: 25%; */
}
th {
  color: #333333;
  font-family: Montserrat;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 120%;
  padding: .5rem;
  text-align: left;
}
thead th {
  color: #6C78A1; /*blue*/
  font-family: Montserrat;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
}
.dot {
  background-image: url(../images/Ellipse.svg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
}

/*Survey section*/
.survey p {
  margin: 0 auto;
  margin-bottom: 2rem;
  padding-left: 1.5rem;
}
.findings {
  width: 37rem;
}
.icon {
  display: none;
}
.percent {
  float: left;
  margin-top: 0;
  padding-left: 1.5rem;
}
.percent h3 {
  color: #B976A4;
  margin-right: 1rem;
}
.text {
  margin-top: 0px;
  padding: 0px;
}

/* div */
.survey-feat {
  display: flex;
  margin-bottom: 1rem;
  text-align: left;
}
.flex-container1 {
  align-items: center;
  display: inline-block;
  flex-direction: row;
  flex: 1;
  /* padding-left: 2rem; */
  padding-right: 1rem;
  padding-bottom: 3rem;
  width: 100%;
}
.icon-text {
  height: 16rem;
}
.icon1 {
  display: block;
  margin: auto;
  text-align: center;
  width: 6.5rem;
}
.footstep, .fire, .dish {
  /* margin-left: 2rem; */
  /* position: relative; */
  width: 6.5rem;
}
.text1 {
  display: inline-block;
  text-align: center;
}

/*Strategy section*/
/*Personas*/
.michelle, .sheila {
  border: 1px solid #BDBDBD;
  margin-bottom: 1rem;
  padding-bottom: 2rem;
  width: 96%;
}
.persona {
  height: 88.33px;
  margin-bottom: 0;
  width: 30%;
}
.name {
  background-color:#D1D4DE; /*light grey*/
  color: #6C78A1; /*blue*/
  float: left;
  font-family: Montserrat;
  font-size: 1.2rem;
  font-weight: 400;
  height: 88.33px;
  margin: 0px;
  padding: .5rem;
  text-align: center;
  width: 70%;
}
.bold-blue {
  color: #6C78A1;
  font-weight: 400;
}
.quote {
  display: inline-block;
  font-size: 1.2rem;
  margin-bottom: 2rem;
  padding-top: 1rem;
  width: 100%;
}
.subtitle {
  padding: 0px;
  padding-left: 1.5rem;
  text-align: left;
}
.goals-frust {
  padding-top: 7rem;
}
/*ul*/
.goals, .frustrations {
  list-style: disc;
  margin-left: 1.5rem;
  padding-bottom: 1rem;
  padding-left: 1.5rem;
}
/*li*/
.goal, .frust {
  color: #333333;
  font-size: 1.4rem;
  text-align: left;
}

/*User-Stories section*/
.bold {
  color: #333333;
  font-weight: 400;
  margin-bottom: 0px;
}
/*li*/
.user-story {
  color: #333333;
  font-size: 1.6rem;
  padding-left: 1rem;
  text-align: left;
}

.laptop-userflow {
    display: none;
}
/*Visual Design section*/
/* images */
.crazy-eights {
  margin: 0 auto;
  width: 85%;
}
.dashboard, .content, .sign-up, .color-palette {
  margin: 0 auto;
  width: 90%;
}
.mindmap, .logo-sketch, .color {
  border: 1px solid #D1D4DE;
  margin: 0 auto;
}
.sketch, .wireframe, .wireframe1  {
  border: 1px solid #D1D4DE;
  width: 95%;
}

.issue {
  color: #333333;
  font-size: 1.6rem;
  font-weight: 350;
  padding-left: 1rem;
  text-align: left;
}
/*Re-evaluating section*/
.reevaluating {
  background-color: #B976A4;
  margin: 0 auto;
  padding-bottom: 1rem;
  padding-top: 4rem;
  width: 100%;
}
.reevaluating p {
  color: #F6ECF5;
}

.tasks {
  list-style-image: url(../images/grey_bullet.svg);
  margin-left: 1.5rem;
  padding: 1rem;
}
.task {
  color: #F6ECF5;
  font-size: 1.6rem;
  text-align: left;
}
.br-names {
  padding-bottom: 2rem;
}
.br-name {
  color: #333333;
  font-size: 1.6rem;
  font-weight: 350;
  padding-left: 1.5rem;
  text-align: left;
}
/* logo iteration 1*/
.logo-iter1 {
  display: block;
  margin: 0 auto;
}
.iteration1 {
  margin: 0 auto;
  margin-bottom: 1.5rem;
  width: 48%;
}
.refresh-logo-div {
  margin: 0 auto;
}
.refesh-logo1 {
  margin: 0 auto;
}
/* images */
.homepage-mockup, .dashboard-mockup, .filing-mockup, .mockup1, .mockup2, .mockup3 {
  display: block;
  /* margin: 0 auto; */
  width: 96%;
}

.mockup4 {
  display: block;
}
/*bottom nav*/
.bottom-nav {
  height: 20rem;
  padding-bottom: 2rem;
}
.blue-line {
  background-color: #6C78A1;
  height: 1px;
  margin: 0 auto;
  margin-top: 6rem;
  width: 90%;
}
.item {
  color: #953A79;
  float: left;
  padding: 1.5rem;
  width: 100%;
}

footer {
  background-color: #9D7892;
  padding-bottom: 2rem;
  width: 100%;
}

.connect {
  width: 100%
}

.strip1 {
  background-color: #9D7892;
  height: 2.6rem;
}

.strip2 {
  background-color: #F6ECF5;
  height: 0.5rem;
  width: 100%;
}

.connect h1 {
  color: #F6ECF5;
  font-weight: lighter;
  margin-bottom: 2rem;
  padding-top: 3rem;
}

.email {
  text-align: center;
  color: #F6ECF5;
}

.fa {
  color: #F6ECF5;
  font-size: 3rem;
  margin: auto;
}

.icons {
  margin: 0 auto;
  margin-top: 4rem;
  margin-bottom: 1rem;
  width: 60%;
  }
  .sm-icon {
    flex-grow: 1;
    text-align: center;
  }

/*tablet*/
@media screen and (min-width: 768px) {
  .container {
    background-color: #F6ECF5;
    grid-template-columns: 1fr;
    grid-template-areas:
    "mobile"
    "hero"
    "port"
    "about";
    width: 100%;
  }

  h4, h6 {
    margin-left: 3rem;
  }
  a {
    color: #F6ECF5;
    text-decoration: none;
  }

  .hero-subtitle {
    margin-left: 13rem;
    margin-right: 13rem;
  }

  .port {
    margin-top: 0;
    padding-top: 0;
  }

  .project-image {
    padding: 5rem 0;
  }

  .casestudy {
    color: #F6ECF5;
    margin-top: 3rem;
  }
  .prototype-btn {
    margin-top: 3rem;
  }

  .about-section {
    padding-top: 0;
  }
  .trap-lake {
    padding: 5rem 0;
  }
  .about-copy p, .problem p, .solution p, .process p, .research-discovery p, .survey p, .strategy p, .user-stories p, .userflows-copy p, .information-architecture p, .visual-design p, .reevaluating p, .branding p, .br-names, .prototype p, .improvements p, .final-thoughts p {
    margin-left: 3rem;
  }
  .aboutme {
    margin-top: 3rem;
  }

  /* Case study */
  .case-study {
    padding-left: 35rem;
  }

  .refresh-logo {
    width: 25rem;
  }

  .summary p {
    margin: 0 3rem 3rem 3rem;
  }

  .features, .userstories, .issues {
    margin-left: 3rem;
  }

  table {
    width: 80%;
  }
  thead th {
    font-size: 1.6rem;
  }
  th {
    font-size: 1.6rem;
  }

  .flex-container1 {
    margin-left: 3rem;
  }
  .steps {
    margin-left: 3.5rem;
  }

  .michelle, .sheila {
    margin: 0 auto;
    margin-bottom: 1.5rem;
    width: 80%;
  }
  .persona {
    height: 20rem;
    width: 40%;
  }
  .name {
    width: 60%;
  }
  .michelle p, .sheila p {
    font-size: 1.6rem;
    line-height: 2.5rem;
    margin-left: 0;
  }
  .quote {
    display: inline-block;
    font-size: 1.6rem;
    margin-top: 1rem;
    padding-top: 1rem;
    width: 100%;
  }
  .goals-frust {
    padding-top: 0;
  }

  .mobile-userflow {
    padding: 5rem;
  }
  .sitemap {
    padding: 5rem;
  }

  .tasks {
    margin-left: 3.5rem;
  }

  .mindmap, .logo-sketch {
    padding: 2rem;
    width: 90%;
  }

  .color {
    margin-bottom: 2rem;
  }
  .color-palette {
    width: 50%;
  }

  .homepage-mockup, .dashboard-mockup, .filing-mockup, .mockup1, .mockup2, .mockup3, .mockup4 {
    margin: 0 auto;
    margin-bottom: 1rem;
    width: 90%;
  }

  .bottomnav {
    margin-left: 3rem;
  }

  footer {
    padding-bottom: 2rem;
  }
  .icons {
    margin: 0 auto;
    margin-top: 4rem;
    width: 60%;
    }
  .sm-icon {
      flex-grow: 1;
    }
}

/*laptop*/
@media screen and (min-width: 1000px) {
  .container {
    background-color: #F6ECF5;
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: 1fr;
    grid-template-areas:
      "laptop"
      "hero"
      "port"
      "about";
    margin: 0 auto;
    overflow: hidden;
    width: 100%;
  }
  section {
    color: #303F55;
    float: left;
    width: 100%;
  }

  .grid-contain {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
  }

  p {
    color: #333333;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 200;
    font-size: 1.8rem;
    line-height: 150%;
    margin-top: .5rem;
    margin-bottom: 1.5rem;
  }
  h1 {
    font-size: 6rem;
  }
  .hero h1 {
    margin-top: 15rem;
  }
  h2 {
    color: #303F55;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 3rem;
  }
  .hero-subtitle {
    border: 1px solid #B976A4;
    margin-left: 40rem;
    margin-right: 40rem;
    padding: 5rem;
  }

  h4 {
    font-size: 2.4rem;
    /* padding-left: 25rem; */
  }

  h6 {
    color: #333333;
    font-size: 1.4rem;
    font-weight: 500;
    padding-left: 25rem;
  }

  span {
    color: #303F55;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 3rem;
  }
  .bold-pink {
    font-size: 1.8rem;
  }

/* nav bar */
 #laptop {
    background-color: #9D7892;
    display: block;
    grid-area: laptop;
    height: 62px;
    width: 100%;
  }
#mobile, #mobile2 {
    display: none;
    grid-area: mobile;
  }
  a {
    color: #F6ECF5;
    text-decoration: none;
  }
/* Homepage */
  .hero {
    background-position: bottom right;
    height: 50rem;
    object-fit: cover;
  }

/* Portfolio section */
.port {
  background-color: #DFD0E3;
  grid-area: port;
  /* margin: 0 auto; */
  padding-top: 3rem;
  padding-bottom: 1rem;
  position: relative;
  text-align: center;
}
/* project copy */
.project {
  display: block;
  float: left;
  padding: 3rem;
  width: 50%;
}

/* Project image */
/* div */
.project-image1 {
  background-image: url(../images/desktop_trap.png);
  background-repeat: no-repeat;
  display: block;
  float: right;
  height: 100%;
  object-fit: cover;
  position: absolute;
  right: -5rem;
  top: 0;
  padding: 0;
  width: 55%;
}
  .project-image {
    display: none;
  }

  button {
    border-radius: 0.5rem;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    height: 4rem;
    margin: 2rem;
    width: 19rem;
  }
  /* Beyond Design section */
  .about-section {
    background-color: #DFD0E3;
    grid-area: about;
    padding-top: 3rem;
    padding-bottom: 1rem;
    position: relative;
    text-align: center;
  }
/* About image */
/* div */
  .trap-image2 {
    background-image: url(../images/trap-lake.svg);
    background-repeat: no-repeat;
    /* background-position: left; */
    bottom: -0px;
    top: 0;
    display: block;
    float: left;
    height: 100%;
    left: -14rem;
    object-fit: cover;
    position: absolute;
    padding: 0;
    right: -10rem;
    width: 75%;
  }

  .trap-lake {
    display: none;
  }
  /* About copy */
  .about-copy {
    display: block;
    float: right;
    padding: 3rem;
    margin-left: 4rem;
    margin-right: 3rem;
    text-align: left;
    width: 50%;
  }
  /*button*/
  .aboutme {

  }

/* Case Study page */
/* Project Hero section */
  .hero-project {
    padding-bottom: 5rem;
  }
  .screenshots {
    margin: 0 auto;
    object-fit: cover;
    padding: .5rem;
    padding-right: 17rem;
    padding-left: 17rem;
  }
  .refresh-logo {
    width: 24rem;
  }
  .hero-project h2 {
    font-weight: 500;
    font-size: 2.6rem;
    margin: 0 auto;
    padding-left: 30rem;
    padding-right: 30rem;
  }
  /* Summary section */
  .summary, .process {
    padding: 5rem;
  }
  .summary p, .process p, .research-discovery p, .strategy p, .user-stories p, .information-architecture p, .visual-design p, .reevaluating p, .branding p, .prototype p, .improvements p, .final-thoughts p {
    line-height: 2.5rem;
    padding-left: 25rem;
    padding-right: 25rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
/* parent div */
.roles-deliver-tools {
  display: flex;
  margin: 0 auto;
  margin-top: 3rem;
  margin-left: 10rem;
  vertical-align: top;
}
.rolesdiv, .deliverdiv, .toolsdiv {
  display: inline-block;
}
.rolesdiv {
  padding-left: 20rem;
  padding-right: 7rem;
  padding-bottom: 5rem;
}
.deliverdiv {
  padding-right: 7rem;
  padding-left: 7rem;
}
.toolsdiv {
  padding-right: 20rem;
  padding-left: 7rem;
}

.sidenav {
  background-color: #F6ECF5;
  border-right: 1px solid #767B8D;
  display: block;
  height: 100%;
  left: 0;
  overflow-x: hidden;
  padding-top: 2rem;
  padding-left: 1.5rem;
  position: absolute;
  top: 80rem;
  width: 22rem;
  z-index: 1;
}
.sidenav a {
  color: #303F55;
  display: block;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 1.6rem;
  padding: .6rem .8rem 1.5rem 1.6rem;
  text-decoration: none;
}

/* The Problem-Solution section */
.problem-solution {
  width: 100%;
}
.problem {
  float: left;
  padding-bottom: 3.7rem;
  width: 50%;
}

.research-discovery h4, .strategy h4, .user-stories h4, .information-architecture h4, .visual-design h4, .branding h4, .prototype h4, .improvements h4 {
  padding-left: 25rem;
}
.survey-goals {
  float: left;
  width: 50%;
}
.survey-goals h4 {
  padding-left: 5rem;
}

.problem p, .solution p, .survey p {
    padding-left: 5rem;
    padding-right: 5rem;
  }
  .solution {
    width: 50%;
  }

  .process, .survey {
    background-color: #DFD0E3; /*pink */
  }
  .features {
    padding-left: 25rem;
  }
  .feat {
    font-size: 1.8rem;
    padding: .5rem;
  }

  table {
    height: 36rem;
    width: 50%;
  }
  thead th {
    font-size: 1.6rem;
  }
  th {
    font-size: 1.6rem;
  }
.survey-g {
  text-align: left;
}
.grey-divider {
  border-left: 1px solid #767B8D;
  height: 536px;
  left: 50%;
  margin-left: -3px;
  margin-top: 4rem;
  position: absolute;
  top:357rem;
}
/* div */
  .survey-findings {
    float: right;
    vertical-align: top;
    width: 48%;
  }
/* parent div flex-grid */
  .findings, .survey-feat {
    display: flex;
    margin: 0 auto;
    margin-top: 3rem;
    /* margin-left: 3rem; */
    vertical-align: top;
    width: 100%;
  }

  /* children */
  .flex-container1 {
    align-items: center;
    display: inline-block;
    flex-direction: row;
    flex: 1;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 3rem;
  }
  .icon {
    display: block;
    margin: auto;
    padding-bottom: 1rem;
    text-align: center;
    width: 100%;
  }

  .icon1 {
    display: inline-block;
    margin: 0 auto;
    width: 100%;
  }
  .tracker, .woman, .runner, .footstep, .fire, .dish {
    /* display: block; */
    margin: auto;
    margin-left: 0px;
    text-align: center;
    width: 7rem;
  }
  .percent {
    display: inline-block;
    float: none;
    margin: 0px;
    padding-left: 0px;
    width: 100%;
  }
  .percent h3 {
    color: #B976A4;
    margin-bottom: 1rem;
  }
  .text, .text1 {
    color: #333333;
    padding: 0px;
    text-align: center;
  }
  .survey-findings p {
    margin-bottom: 1rem;
    padding-bottom: 0px;
  }

  /* personas */
  .personas {
    display: flex;
    margin: 0 auto;
    vertical-align: top;
  }
  .michelle {
    margin-left: 10rem;
    margin-right: 3rem;
    width: 40%;
  }
  /* image */
  .persona {
    float: left;
    height: 16rem;
    object-fit: cover;
    margin-bottom: 2rem;
  }
  .name {
    padding-bottom: 5rem;
  }
  .quote {
    display: inline-block;
    padding-bottom: 2rem;
    width: 100%;
  }
  .michelle p, .sheila p {
    font-size: 1.4rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  /* parent */
  .goals-frust {
    display: flex;
    float: right;
    margin: 0 auto;
    margin-top: 1rem;
    vertical-align: top;
  }
  /* children */
  .goals-div {
    align-items: center;
    display: inline-block;
    flex-direction: row;
    flex: 1;
    /* padding-left: 2rem;
    padding-right: 2rem; */
    padding-bottom: 3rem;
  }
  .frust-div {
    align-items: center;
    display: inline-block;
    flex-direction: row;
    flex: 1;
    padding-bottom: 3rem;
  }
  .goals {
    float: left;
    vertical-align: top;
  }
  .frustrations {
    margin-right: 1rem;
  }
  .sheila {
    float: right;
    margin-right: 10rem;
    position: relative;
    width: 40%;
  }

/* User Stories div */
  .userstories, .issues, .tasks, .br-names {
    padding-left: 25rem;
  }
  .userstories li {
    font-size: 1.8rem;
    font-weight: 400;
  }
/* User flows */
  .userflows-copy {
    float: left;
    width: 50%;
  }
  .userflows-copy h4 {
    padding-left: 10rem;
  }
    .userflows-copy p {
      padding-left: 10rem;
    }
    .userflows-image {
      float: right;
      width: 48%;
    }
    .laptop-userflow {
      display: block;
      height: 786px;
    }
    .mobile-userflow{
      display: none;
    }

  .sitemap {
    margin: 0 auto;
    width: 75%;
  }

  .crazy-eights {
    margin: 0 auto;
    width: 50%;
  }
  .wireframes {
    display: flex;
    margin: 0 auto;
    vertical-align: top;
  }
  .dashboard {
    padding-left: 10rem;
    /* width: 48%; */
  }
  .content {
    float: right;
    padding-right: 10rem;
    /* width: 48%; */
  }
  .wireframe1 {
    border: 1px solid #D1D4DE;
    margin-left: 25rem;
    width: 50%;
  }

  .issue, .task {
    font-size: 1.8rem;
  }

  .mindmap, .logo-sketch {
    margin: 0 auto;
    margin-bottom: 2rem;
    width: 50%;
  }

   .first-iter, .furth-iter, .final-logo, .brand-colors, .hifi-copy, .empty, .filing-copy {
     width: 60%;
   }
   .filing-copy {
     padding-top: 7rem;
   }
   .first-iter p, .furth-iter p, .final-logo p, .brand-colors p, .hifi-copy p, .filing-copy p {
     line-height: 150%;
     padding-right: 2rem;
     width: 100%;
   }
   .logo-iter1, .refesh-logo-div, .color-palette, .homepage-mockup, .dashboard-mockup, .filing-mockup {
     margin-top: 2rem;
     width: 38%;
   }
   /* images */
   .iteration1 {
     margin-left: 2rem;
     margin-top: 1rem;
     width: 40%;
   }

    .color-palette-img {
     float: right;
     padding-right: 5rem;
     padding-top: 10rem;
   }

   .flex-container2 {
     display: flex;
     vertical-align: top;
   }
   .homepage-mockup, .filing-mockup {
     float: right;
   }
   .dashboard-mockup {
     float: right;
     margin-right: 2.5rem;
   }

   .mockup1 {
     margin-left: 10rem;
     margin-right: 2rem;
     width: 40%;
   }
   .mockup2 {
     margin-right: 2rem;
     margin-right: 5rem;
     width: 40%;
   }
   .mockup3 {
     margin: 0 auto;
     margin-bottom: 2rem;
     width: 40%;
   }

   .finish-touch {
     padding-bottom: 5rem;
   }

   .bottom-nav {
     margin: 0 auto;
     width: 75%;
   }
   .blue-line {
     width: 100%;
   }
   /* ul */
   .bottomnav {
     margin: 2rem;
   }
   /* li */
   .item {
     /* display: inline-block; */
     /* width: 30%; */
   }
   .home {
     margin-left: 0px;
     /* margin-right: 20rem; */
     padding-left: 0px;
     text-align: left;
     width: 33%;
   }
   .next {
     /* margin-left: 10rem;
     margin-right: 10rem; */
     text-align: center;
     width: 33%;
   }
   .top {
     /* margin-left: 7rem; */
     margin-right: 0px;
     padding-right: 0px;
     text-align: right;
     width: 33%;
   }

   /* footer */
   footer {
     height: 30rem;
   }
   .icons {
     margin: 0 auto;
     margin-top: 4rem;
     width: 60%;
   }
   .sm-icon {
     flex-grow: 1;
   }
}

@media screen and (min-width: 1015px) {

}
/* @media screen and (min-width: 1119px) {
  .item {
    color: #953A79;
    float: left;
    padding: 1.5rem;
    width: 100%;
  }
} */

/* @media screen and (min-width: 1144px) {
  .desktop-trap {
       width: 60%;
    }
    .project-image {
      display: none;
    }
} */

/* @media screen and (min-width: 1330px) {
  .desktop-trap {
       width: 55%;
    }
    .project-image {
      display: none;
    }

    .about-image {
      bottom: -0px;
      top: -30px;
      display: block;
      float: left;
      height: 404px;
      left: -40px;
      object-fit: cover;
      position: absolute;
      right: -100px;
      width: 55%;
    }
  .trap-lake {
    display: none;
  }
} */
